<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="login">Not Really Football</a>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <%= link_to 'Home', users_path %>
      </li>
      <li><%= link_to 'My Team', user_path(current_user) %></li>
      <li><%= link_to 'Log Out', logout_path, method: :delete %></li>
    </ul>
  </div>
</nav>

<h1 class = 'header'><%= current_user.alias if current_user %>'s Front Office</h1>
<p class = 'header'>logged in as: <%= current_user.alias if current_user %> | <%= link_to 'Log Out', logout_path, method: :delete %>
</p>
<div class="col-md-6">
  <ul>
    <h3>My Account</h3>
    <li><%= link_to 'My Team', user_path(current_user) %></li>
    <li><%= link_to 'Edit My Information', edit_user_path(current_user) %> </li>
    <li><%= link_to 'Delete Your Account', @user, method: :delete, data: {confirm: 'are you sure you want to delete your account?'} %></li>
  </ul>
</div>
<div class="col-md-6">
  <ul>
    <h3>League Hub</h3>
    <% @users.each do |user| %>
    <li>
      <%= user.alias %> | <%= link_to 'See This Team', user_path(user) %>
    </li>
    <% end %>
  </ul>
</div>
