<%# if current_user == @user %>

  <h1><%= @user.alias %>'s Roster</h1>

  Email: <%= @user.email %> |

  <ul>
    <h3>QB</h3>
    <li><%= @user.roster_spots.where(:spot => 'QB').first.player.name if @user.roster_spots.where(:spot => 'QB').length > 0%>
      <%= link_to "Add/Change Player", players_path(:position_id => 1.to_s, :spot => 'QB') %>
    </li>
    <h3>WR</h3>
    <li>
      <%= @user.roster_spots.where(:spot => 'WR1').first.player.name if @user.roster_spots.where(:spot => 'WR1').length > 0%>
      <%= link_to "Add/Change Player", players_path(:position_id => 2.to_s, :spot => 'WR1') %>
    </li>
    <li>
      <%= @user.roster_spots.where(:spot => 'WR2').first.player.name if @user.roster_spots.where(:spot => 'WR2').length > 0%>
      <%= link_to "Add/Change Player", players_path(:position_id => 2.to_s, :spot => 'WR2') %>
    </li>
    <li>
      <%= @user.roster_spots.where(:spot => 'WR3').first.player.name if @user.roster_spots.where(:spot => 'WR3').length > 0%>
      <%= link_to "Add/Change Player", players_path(:position_id => 2.to_s, :spot => 'WR3') %>
    </li>
  <h3>RB</h3>
    <li>
      <%= @user.roster_spots.where(:spot => 'RB1').first.player.name if @user.roster_spots.where(:spot => 'RB1').length > 0%>
      <%= link_to "Add/Change Player", players_path(:position_id => 3.to_s, :spot => 'RB1') %>
    </li>
    <li>
      <%= @user.roster_spots.where(:spot => 'RB2').first.player.name if @user.roster_spots.where(:spot => 'RB2').length > 0%>
      <%= link_to "Add/Change Player", players_path(:position_id => 3.to_s, :spot => 'RB2') %>
    </li>
    <h3>TE</h3>
    <li>
      <%= @user.roster_spots.where(:spot => 'TE').first.player.name if @user.roster_spots.where(:spot => 'TE').length > 0%>
      <%= link_to "Add/Change Player", players_path(:position_id => 4.to_s, :spot => 'TE') %>
    </li>
    <h3>FLEX</h3>
    <li>
      <%= @user.roster_spots.where(:spot => 'FLEX1').first.player.name if @user.roster_spots.where(:spot => 'FLEX1').length > 0%>
      <%= link_to "Add/Change Player", players_path(:position_id => 'flex', :spot => 'FLEX1') %>
    </li>
    <li>
      <%= @user.roster_spots.where(:spot => 'FLEX2').first.player.name if @user.roster_spots.where(:spot => 'FLEX2').length > 0%>
      <%= link_to "Add/Change Player", players_path(:position_id => 'flex', :spot => 'FLEX2') %>
    </li>
    <h3>K</h3>
    <li>
      <%= @user.roster_spots.where(:spot => 'K').first.player.name if @user.roster_spots.where(:spot => 'K').length > 0%>
      <%= link_to "Add/Change Player", players_path(:position_id => 5.to_s, :spot => 'K') %>
    </li>
  </ul>


<%= link_to 'My Front Office', users_path %> |
<%= link_to 'Delete your account', @user, method: :delete, data: {confirm: 'are you sure you want to delete your account?'} %>
