<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/login">Not Really Football</a>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <%= link_to 'Home', users_path %>
      </li>
      <li><%= link_to 'My Team', user_path(current_user) %></li>
      <li><%= link_to 'Log Out', logout_path, method: :delete %></li>
      <li><%= link_to 'Players', players_path(:position_id => [1,2,3,4,5]) %></li>
    </ul>
  </div>
</nav>

<div class="centered">
  <ul>
    <h1><%= @user.alias %>'s Roster</h1>

    <p>Email: <%= @user.email %> </p>
    <li>
      QB | <%= @user.roster_spots.where(:spot => 'QB').last.player.name if @user.roster_spots.where(:spot => 'QB').length > 0%>
      <% if current_user == @user %>
      <%= link_to "Add/Change Player", players_path(:position_id => 1.to_s, :spot => 'QB') %>
      <% end %>
    </li>
    <li>
      WR1 | <%= @user.roster_spots.where(:spot => 'WR1').last.player.name if @user.roster_spots.where(:spot => 'WR1').length > 0%>
      <% if current_user == @user %>
      <%= link_to "Add/Change Player", players_path(:position_id => 2.to_s, :spot => 'WR1') %>
      <% end %>
    </li>
    <li>
      WR2 | <%= @user.roster_spots.where(:spot => 'WR2').last.player.name if @user.roster_spots.where(:spot => 'WR2').length > 0%>
      <% if current_user == @user %>
      <%= link_to "Add/Change Player", players_path(:position_id => 2.to_s, :spot => 'WR2') %>
      <% end %>
    </li>
    <li>
      WR3 | <%= @user.roster_spots.where(:spot => 'WR3').last.player.name if @user.roster_spots.where(:spot => 'WR3').length > 0%>
      <% if current_user == @user %>
      <%= link_to "Add/Change Player", players_path(:position_id => 2.to_s, :spot => 'WR3') %>
      <% end %>
    </li>
    <li>
      RB1 | <%= @user.roster_spots.where(:spot => 'RB1').last.player.name if @user.roster_spots.where(:spot => 'RB1').length > 0%>
      <% if current_user == @user %>
      <%= link_to "Add/Change Player", players_path(:position_id => 3.to_s, :spot => 'RB1') %>
      <% end %>
    </li>
    <li>
      RB2 | <%= @user.roster_spots.where(:spot => 'RB2').last.player.name if @user.roster_spots.where(:spot => 'RB2').length > 0%>
      <% if current_user == @user %>
      <%= link_to "Add/Change Player", players_path(:position_id => 3.to_s, :spot => 'RB2') %>
      <% end %>
    </li>
    <li>
      TE | <%= @user.roster_spots.where(:spot => 'TE').last.player.name if @user.roster_spots.where(:spot => 'TE').length > 0%>
      <% if current_user == @user %>
      <%= link_to "Add/Change Player", players_path(:position_id => 4.to_s, :spot => 'TE') %>
      <% end %>
    </li>

    <li>
      FLEX | <%= @user.roster_spots.where(:spot => 'FLEX1').last.player.name if @user.roster_spots.where(:spot => 'FLEX1').length > 0%>
      <% if current_user == @user %>
      <%= link_to "Add/Change Player", players_path(:position_id => 'flex', :spot => 'FLEX1') %>
      <% end %>
    </li>
    <li>
      FLEX | <%= @user.roster_spots.where(:spot => 'FLEX2').last.player.name if @user.roster_spots.where(:spot => 'FLEX2').length > 0%>
      <% if current_user == @user %>
      <%= link_to "Add/Change Player", players_path(:position_id => 'flex', :spot => 'FLEX2') %>
      <% end %>
    </li>
    <li>
      K | <%= @user.roster_spots.where(:spot => 'K').last.player.name if @user.roster_spots.where(:spot => 'K').length > 0%>
      <% if current_user == @user %>
      <%= link_to "Add/Change Player", players_path(:position_id => 5.to_s, :spot => 'K') %>
      <% end %>
    </li>


<% if current_user == @user %>
  <%= link_to 'Clear Roster', clear_roster_path(@user), method: :delete, data: {confirm: 'are you sure you want to clear your roster?'} %> <br>
<%= link_to 'Back To My Front Office', users_path %>
<% end %>
</ul>
</div>
<br>
